<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> My Website - About </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}"/>
</head>
<body>
    <h1> Moesha Amos </h1>
    <p> I love to code bdeacut sometimes I am not good at it and it takes practice.
        I hope to be able to become a good programmer and developer with time
        and practice.
    </p>
    <h2> Hobbies and Likes </h2>
    <li> Reading </li>
    <li> Listening to music </li>
    <li> Practicing coding </li>
    <li> sketching </li>
</body>
</html>